*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

/*Structure*/

body{
    background-image: url('./assets/fundo.svg');

    display: grid;
    place-items: center;

}

main{
    margin-top: 20rem;
}

div{
    display: flex;
    gap: 8.9rem;
}

main div:nth-child(2){
    margin-top: 4.0rem;
    margin-bottom: 4.0rem;
}

/*Animation*/

main div:nth-child(2) div.mole{
    width: 22.5rem;
    animation: mole1 700ms forwards reverse;
}

main div:first-child div.mole{
    width: 22.5rem;
    animation: mole2 700ms both 2s;
}

main div:last-child div.mole{
    width: 22.5rem;
    animation: mole2 700ms both 4s;
}

@keyframes mole1 {
    0%{
        background-image: url("./assets/toupeira6.svg");
        background-repeat: no-repeat;
        background-repeat:round;
      }
  
      20%{
          background-image: url("./assets/toupeira5.svg");
          background-repeat: no-repeat;
          background-repeat:round;
      }
  
  
      40%{
          background-image: url("./assets/toupeira4.svg");
          background-repeat: no-repeat;
          background-repeat:round;
      }
  
      60%{
        background-image: url("./assets/toupeira3.svg"); 
        background-repeat: no-repeat;
        background-repeat:round;
  
      }
  
      80%{
          background-image: url("./assets/toupeira2.svg");
          background-repeat: no-repeat;
          background-repeat:round;
      }
  
      100%{
          background-image: url("./assets/toupeira1.svg");
          background-repeat: no-repeat;
          background-repeat:round;
      }
}

@keyframes mole2 {
    0%{
        background-image: url("./assets/toupeira6.svg");
        background-repeat: no-repeat;
        background-repeat:round;

      }
  
      20%{
          background-image: url("./assets/toupeira5.svg");
          background-repeat: no-repeat;
          background-repeat:round;

      }
  
  
      40%{
          background-image: url("./assets/toupeira4.svg");
          background-repeat: no-repeat;
          background-repeat:round;

      }
  
      60%{
        background-image: url("./assets/toupeira3.svg"); 
        background-repeat: no-repeat;
        background-repeat:round;

  
      }
  
      80%{
          background-image: url("./assets/toupeira2.svg");
          background-repeat: no-repeat;
          background-repeat:round;

      }

      90%{
        background-image: url("./assets/toupeira1.svg");
        background-repeat: no-repeat;
        background-repeat:round;
      }
  
      100%{
        background-image: url("./assets/toupeira6.svg");
        background-repeat: no-repeat;
        background-repeat:round;

      }
}
  